
.panel {
    width: 164px;
    padding: 15px;
    margin: 0 auto;
}

.panel .input {
    text-align: center;
    width: 128px;
    margin: 0 auto;
    margin-bottom: 6px !important;
}


.panel #password, .panel #username, .panel #email, .panel #confirm {
    width: 128px;
    margin: 0 auto;
}

